#product-types-list{
	width:100%;
}
#users-group-filter{
	float:right;
}
td.editable{
	cursor:pointer;
}
#product-images-wrapper>div{
	display:inline-block;
	margin:5px;
	box-shadow:0 0 5px #000;
	text-align:center;
	padding:5px;
}
#data-fields-table input{
	width:95%;
}
.warning-too-long{
	box-shadow:0 0 2px #f00;
}
#product-images-wrapper .default{
	border:1px solid red;
}
#categories-accordion>div{
	overflow:auto;
}
