#product-types-list{
	width:100%;
}
#users-group-filter{
	float:right;
}
td.editable{
	cursor:pointer;
}
#product-images-wrapper>div{
	display:inline-block;
	margin:5px;
	box-shadow:0 0 5px #000;
	text-align:center;
	padding:5px;
}
