#ad-stats-from, #ad-stats-to{
	width:90px;
}
#ad-stats-chart{
	min-height:200px;
}
#ad-stats-ad{
	width:150px;
}
#ads-purchase-wrapper .disabled{
	color:#999;
}
#ads-purchase-wrapper th{
	padding:5px;
	text-align:left;
}
.uploadify{
	display:inline-block;
}
.uploadify-queue .cancel{
	float:left;
	font-size:10px;
}
.uploadify-queue .cancel a{
	color:#f00;
	margin-right:10px;
	text-decoration:none;
}

#ads-main{
	font-size:12px;
}
#ads-main table{
	width:100%;
	margin:5px 0;
}
#ads-main table td first-child{
	min-width:400px;
}
#ad-stats-ad{
	width:75px;
}
