#ad-stats-from, #ad-stats-to{
	width:90px;
}
#ad-stats-chart{
	min-height:200px;
}
#ad-stats-ad{
	width:150px;
}
#ads-purchase-wrapper .disabled{
	color:#999;
}
#ads-purchase-wrapper th{
	padding:5px;
}
.uploadify{
	display:inline-block;
}
.uploadify-queue{
	display:none;
}
