@import "/css";
body { 
	background:#f7f7f7 url(/ww.admin/theme/body.png) 0% 100% repeat-x;margin: 5px; padding: 0; text-align:center;
	font: 13px Tahoma, arial, sans-serif; color: #666; height: 100%;
}

#header { height: 120px; background: url(/ww.admin/theme/top.png) repeat-x; width: 100%; }
#topImage { float: right; width: 225px; height: 120px; background: url(/ww.admin/theme/topright.png) no-repeat 0% 0%;}

#mainContent { margin: 5px 0; margin: 0px auto; text-align: center; }

.paragraph {

	width: 400px; background: url(/ww.admin/theme/icons_help_white.png) no-repeat 0% 0%; 
	padding-left: 33px; margin: 10px auto; margin-bottom: 25px; text-align: center;

}
.paragraph p { text-align: justify; margin: 0; padding: 0; }

fieldset{border: 1px solid #ccc; margin: 0 auto; width: 400px; }
legend{ border-left: 1px solid #ccc; border-right: 1px solid #ccc; color: #999; padding: 5px 25px ; }
table{ width:90%; margin: 0px auto; text-align: center; }

th,td{margin:0 1px 1px 0;}
th { color: #416BA7; width: 100px; }

input{background:#eee;color:#333; width: 100%;}
input:hover, input:focus{background:#fff;}
input[type=text],input[type=password]{width:100%}

input.login { width: 125px; margin: 10px 0; }  
