#tooltip{ /* remove when jquery-ui 1.9 is out */
	position:absolute;
	z-index:2000;
	background:#fff;
	opacity:.9;
	border:1px solid #000;
	border-radius:5px;
	-moz-border-radius:5px;
}
#tooltip *{
	color:#000;
	padding:5px;
	margin:0;
}
.align-left,.align-left *{
	text-align:left;
}
.clear{
	clear:both;
}
