#menus-wrapper{
	width:600px;
	margin:0 auto;
	background:#333;
	box-shadow:1px 1px 1px #333;
	min-height:300px;
}
#menus-wrapper a{
	text-decoration:none;
}
#menu-current-top a{
	color:#fff;
	font-style:italic;
}
#menu-items{
	background:#333;
	padding:10px;
	width:200px;
	height:200px;
}
#menu-items table{
	width:100%;
	background:#eee;
}
#menu-items table tr:nth-child(even){
	background:#fff;
}
#menu-details{
	position:relative;
}
#menu-details>div {
	position:absolute;
	padding:5px;
	left:10px;
	top:10px;
	bottom:30px;
	right:10px;
	background:#eee;
	overflow:auto;
}
#menu-details input{
	width:100%;
}
#menu-details table{
	width:100%;
}
#menus-wrapper a.add-new{
	color:#fff;
	font-style:italic;
}
#menus-wrapper a.delete{
	float:right;
}
#menus-wrapper .menu-icon{
	float:left;
	margin-right:5px;
}
#menus-wrapper input._icon{
	width:230px;
}
#menus-wrapper .menu-copy{
	position:absolute;
	bottom:0;
	left:0;
	background:#333;
	color:#fff;
}
#menus-wrapper a.faded{
	color:#ccc;
}
option.new{
	color:#999;
	font-style:italic;
}
