<table style="width: 633px; height: 139px;border:1px solid #000;">
<tbody>
<tr>
<td colspan="2">
<h1>
{{$_name}}</h1>
</td>
<td rowspan="2" style="width:155px">
<img src="/f/skin_files/logo.png"/></td>
</tr>
<tr>
<th>
For:</th>
<td>
{{$_recipient}}</td>
</tr>
<tr>
<th>
Amount:</th>
<td>
{{$_amount}}</td>
<td rowspan="2">
{{PRODUCTS_QRCODE}}</td>
</tr>
<tr>
<td colspan="2">
{{$description}}</td>
</tr>
</tbody>
</table>
<p style="font-size:small">please make sure to print this voucher out <i>with its images visible</i></p>

