div.left-menu li{
	clear:both;
	list-style:none;
}
div.left-menu li .actions{
	text-align:right;
}
div.left-menu li:hover .actions *{
	visibility:visible;
}
div.left-menu li .actions *{
	visibility:hidden;
}
div.left-menu li .actions a{
	padding:0;
	background:none;
	display:inline;
}
div.left-menu li .actions a:hover{
	background:none;
	color:red;
}
